:root {
    --primary-color: #ffb81c;
    --secondary-color: #003594;
    --third-color: black;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: var(--secondary-color);
    font-family: 'Times New Roman', Times, serif;
}