:root {
    --primary-color: #ffb81c;
    --secondary-color: #003594;
    --third-color: black;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: var(--secondary-color);
    font-family: 'Times New Roman', Times, serif;
}

.header {
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    position: sticky;
    overflow: hidden;
}

header h1 {
    color: var(--secondary-color);
    margin: 5px 10px 5px 30px;
    font-size: 50px;
}

header nav {
    padding-top: 20px;
    margin-right: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    display: flex;
    justify-content: flex-end;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

Nav a {
    color: var(--secondary-color);
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

header nav ul li a:hover {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgb(0 0 0 / 0%);
}

p {
    font-size: 24px;
    padding: 5px 35px 0 20px;
    width: 50%;
    justify-content: space-evenly;
    align-items: center;
}

.profile-pic {
    position: relative;
    margin: 12px;
}

section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
    margin: 10px;
}

.section-detail {
    margin: 20px auto;
    padding-bottom: 20px;
    width: 100%;
    display: flex;
    color: var(--primary-color)
}

.section-title {
    font-size: 40px;
    display: inline-block;
    border-right: 10px solid;
    margin-right: 30px;
    color: var(--primary-color);
    text-align: right;
    padding: 20px;
    flex-basis: 20%;
}

.primary-border {
    border-color: var(--primary-color);
}

.work-container {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 66%;
}

.item-detail {
    position: relative;
    margin: 12px;
    width: fit-content;
}

.item-detail:hover {
    box-shadow: 0 10px 10px -10px rgb(0 0 0 / 50%);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

img {
    border: 1px solid var(--third-color);
}

.bottom-left {
    position: absolute;
    padding: 5px;
    bottom: 15px;
    left: 2px;
    text-align: left;
    font-size: 10px;
    color: #ffffff;
    background-color: var(--third-color);
}

@media screen and (max-width: 600px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
        flex-direction: column;
        text-align: center;
    }

    header h1 {
        width: 100%;
        text-align: center;
        margin: 3px
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 15px;
    }

    p {
        flex: 2 100%;
        text-align: left;
        justify-content: left;
    }
}